* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

body {
/* font-family: 'Myriad Pro' ,sans-serif ; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .section-container {
    width: 1140px;
    margin: 0 auto;
  }

  /* HEADER */

  header {
    padding-top: 26px;
    padding-bottom: 230px;
    background-image: url(/image/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Myriad Pro' ,sans-serif ;
    }
    .navigation {
        margin-bottom: 146px;
    }
    
    .navigation_list {
        float: right;
    }

    .navigation_list-item {
        float: left;
    }

    .navigation_list-item:not(:last-child) {
        margin-right: 16px;
    }
    .navigation_list-link {
        font-size: 24px;
        line-height: 75px;
        color: rgb(40, 40, 40);
        letter-spacing: 0.96px;
    }
.header_titel {
        margin-bottom: 56px;
        font-size: 60px;
        color: rgb(40, 40, 40);
        line-height: 75px;
        text-align: center;
        letter-spacing: 2.4px;
        font-weight: 400;
      }
      
.btn-play {
        display: block;
        margin: 0 auto 40px;
        border-radius: 50%;
        background-color: rgb(50, 57, 105);
        width: 59px;
        height: 59px;  
        text-align: center;
        background-image: url(/image/play.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
}
.button_try-now {
        display: block;
        margin: 0 auto 16px;
        border-radius: 3px;
        background-color: rgb(255, 109, 109);        
        width: 190px;
        height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        font-size: 16px;
        letter-spacing: 3.2px; 
        cursor: pointer;
}

.description {
    font-size: 14px;
    color: rgba(40, 40, 40, 0.6);
    line-height: 1.2;
    text-align: center;
}

/* SECTION_1 */
  
.section-design {
    padding-top: 176px;
    padding-bottom: 158px;
    background-image: url(/image/section2_img.jpg);
    background-position: right;
    background-repeat: no-repeat;

}
.design-titel {
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    color: rgb(255, 109, 109);
    line-height: 50px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-weight: 400;
  }
  .design-paragraf {
      margin-bottom: 54px;
        font-size: 40px;
        font-family: 'Myriad Pro' ,sans-serif ; 
        color: rgb(40, 40, 40);
        line-height: 50px;
        letter-spacing: 1.6px;   
  }
  .design-description {
        font-size: 16px;
        font-family: 'Myriad Pro' ,sans-serif ;
        color: rgba(40, 40, 40, 0.659);
        line-height: 26px;
        letter-spacing: 0.64px; 
      }
      
  .wraper {
      width: 585px;
  }

  /* SECTION_2 */
  .features {
      padding-top: 120px;
      padding-bottom: 180px;
      background-image: url(/image/section3_bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
}
  
.features-titel {
    font-size: 16px;
    font-family: 'Myriad Pro' ,sans-serif ;
    color: rgb(255, 109, 109);
    line-height: 3.125;
    text-align: center;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-weight: 400;
}

.feature-paragraf {
    margin-bottom: 90px;
    font-size: 40px;
    font-family: 'Myriad Pro' ,sans-serif ;
    color: rgb(40, 40, 40);
    line-height: 1.25;
    text-align: center;
    letter-spacing: 1.6px;
}

.feature_list {
    display: flex;
    justify-content: space-between;
}


  .feature_list-item {
      width: 360px;
      padding: 0 10px;
      text-align: center;
      /* background-color: blue; */
  }

  /* .feature_list-item:not(:last-child) {
      margin-right: 30px;
  } */


  .feature_list-item::before {
      display: block;
      content: " ";
      width: 67px;
      height: 67px;
      margin: 0 auto;
      margin-bottom: 34px;
  }

  .feature_list-item:first-child::before {
    background-image: url(/image/icon/picture.png);
  }

  .feature_list-item:nth-child(2)::before {
    background-image: url(/image/icon/plane.png);
  }

  .feature_list-item:last-child::before {
    background-image: url(/image/icon/bulb.png);
  }
      
  



  .feature_list-titel {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 22px;
        font-family: 'Exo', sans-serif;
        color: rgb(40, 40, 40);
        line-height: 2.271;
        text-align: center;
        letter-spacing: 0.88px;  
  }

  .feature_list-description {
        font-size: 16px;
        font-family: 'Exo', sans-serif;
        color: rgba(40, 40, 40, 0.659);
        line-height: 1.625;
        text-align: center; 
        letter-spacing: 0.64px; 
  }

  /* SECTION-CLIENTS */
  .clients {

          background-image: linear-gradient( rgba(0, 0, 0 ,0.8), rgba(0, 0, 0 ,0.8)), url(/image/Group_4.jpg) ;
            
  }

  .clients_list {
      display: flex;
      justify-content: space-between;
  }


.clients_list-item {
    width: 360px;
}


.clients_list-item::before {
    display: block;
    margin: 0 auto;
    content: " ";
    border-style: solid;
    border-width: 2px;
    border-color: rgb(29, 30, 36);
    background-color: rgb(78, 78, 94);
    width: 80px;
    height: 80px;
}
 .clients-name {
        font-size: 22px;
        font-family: 'Exo', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 2.271;
        text-align: center;
       font-weight: 500;
      }
      
      .clients-founder {
        font-size: 16px;
        font-family: 'Exo', sans-serif;
        color: rgb(255, 109, 109);
        line-height: 3.125;
        text-align: center;
          }
      
  .clients-description {
        font-size: 16px;
        font-family: 'Exo', sans-serif;
        color: rgba(255, 255, 255, 0.659);
        font-style: italic;
        line-height: 1.625;
        text-align: center;
  }
  